* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom left, cyan, black);
}

.mail {
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
  background-color: rgb(156, 152, 152);
  border-radius: 0px 0px 20px 20px;
  transform-style: preserve-3d;
  perspective: 700px;
  cursor: pointer;
}

.mail:before {
  content: "";
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid rgb(94, 89, 89);
  border-top: 200px solid transparent;
  border-bottom: 200px solid rgb(94, 89, 89);
  border-radius: 0px 0px 20px 20px;
  z-index: 5;
}

.mail:after {
  content: "";
  position: absolute;
  border-left: 200px solid rgb(133, 131, 131);
  border-right: 200px solid transparent;
  border-top: 200px solid transparent;
  border-bottom: 200px solid rgb(133, 131, 131);
  border-radius: 0px 0px 20px 20px;
}

.mail .cover {
  position: absolute;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid rgb(156, 152, 152);
  border-bottom: 200px solid transparent;
  transform-origin: top;
  transition: 1s 1s ease;
  z-index: 4;
}

.mail:hover .cover {
  transform: rotateX(180deg);
  transition: 1s ease;
}

.mail .image {
  position: absolute;
  width: 380px;
  left: 10px;
  height: 390px;
  top: 10px;
  background-color: red;
  border-radius: 0px 0px 20px 20px;
  background-image: url("thank-you.jfif");
  background-size: cover;
  background-position: center center;
  transition: 1s ease;
}

.mail:hover .image {
  top: -180px;
  transition: 1s 1s ease;
}
